body {
	font-family: Verdana, Arial, Sans-serif;
	background-color: #EEE;
	width: 100%
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #9d98b9;
}

nav ul il {
	float: center;
}

nav ul li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	border-bottom: 1px solid #EEE;
}

}

.wrapper {
	width: 100%;
}

.headerOfSite{
	text-align: center;
}

.imageWithProduction{
	width: 100%;
}

.imageWithProduction h2 {
	margin: 10px 0 5px;
	padding: 0;
	font-size: 1.5em;
	color: #222;
}

.imageWithProduction p {
	margin: 0;
	padding: 0 5px 5px;
	font-size: 1em;
	color: #222;
}

.valentine-img{
	width: 100%;
}

.list {
	padding: 5px 0 5px;
}
.horizontalLine{
	padding: 0;
	width: 100%
}

.footer-info{
}
.footer-info h3 {
	font-size: 1.2em;
}
.footer-info ol li{
	color: gray;
	padding-top: 10px;
}

/* Media for tablet */
@media only screen and (min-width: 768px) {
	body {
	font-family: Verdana, Arial, Sans-serif;
	background-color: #EEE;
	float: center;
}

nav ul {
	align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #9d98b9;
	box-shadow: 3px 3px 5px #555;
}
nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	border-right: 1px solid #EEE;
	border-bottom: 0;
}

.wrapper {
	width: 100%;
}

.headerOfSite{
	text-align: center;
	font-size: 2.5em;
}

.imageWithProduction{
	margin-top: 10px;
	width: 100%;
}

.imageWithProduction h2 {
	display: inline;
	color: #222;
	font-size: 1.5em;
}

.imageWithProduction p {
	margin: 0;
	padding: 10px 10px 5px;
	font-size: 1em;
	color: #222;
}

.valentine-img{
	width: 50%;
	margin: 0;
	margin: 0 10px 0 0;
	box-shadow: 3px 3px 5px #555;
}

.list {
	padding: 5px 0 5px;
	font-size: 1em;
}

.horizontalLine{
	padding: 0;
	width: 100%
}

.footer-info{
}
.footer-info h3 {
	font-size: 1.2em;
}
.footer-info ol li{
	color: gray;
	padding-top: 10px;
}
}


/* Media for desktop */
@media only screen and (min-width: 1024px) {
	body {
	font-family: Verdana, Arial, Sans-serif;
	background-color: #EEE;
	padding: 0 15% 0;
	width: 75%;
}

nav ul {
	align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #9d98b9;
	box-shadow: 3px 3px 5px #555;
}
nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 10px 20px 10px;
	text-decoration: none;
	border-right: 1px solid #EEE;
	border-bottom: 0;
}
nav ul li a:hover{
	color: #123456;
}

.wrapper {
	width: 100%;
}

.headerOfSite{
	text-align: center;
	font-size: 2.5em;
}

.imageWithProduction{
	margin-top: 10px;
	width: 100%;
}

.imageWithProduction h2 {
	display: inline;
	font-size: 1.5em;
	color: #222;
	font-size: 2em;
}

.imageWithProduction p {
	margin: 0;
	padding: 10px 10px 5px;
	font-size: 1.2em;
	color: #222;
}

.tank-img{
	width: 50%;
	margin: 0;
	margin: 0 10px 0 0;
	box-shadow: 3px 3px 5px #555;
}

.list {
	padding: 5px 0 5px;
	font-size: 1.2em;
}

.horizontalLine{
	padding: 0;
	width: 100%
}

.footer-info{
}
.footer-info h3 {
	font-size: 1.2em;
}
.footer-info ol li{
	color: gray;
	padding-top: 10px;
}
.footer-info ol li a {
	text-decoration: none;
	color: gray;
}
}

